.btn-contact {
    border-radius: 50px;
    background-color: white;
    border: none;
    transition: all 0.2s var(--curve);
    filter: var(--card-shadow);

    padding: 5px;

    .inner {
        font-size: x-large;
        gap: 10px;
        color: black;
        margin: 0px;
        text-align: center;
        font-weight: bold;
        padding: 0px;
        transition: all 0.2s var(--curve);
    }

    &.tiny {
        min-width: 200px;
    }

    &:hover {
        background-color: #161616;
        
        .inner {
            scale: 1.1;
            color: white;
            fill: white;
        }
    }
}

.btn {
    border: var(--solid-border);
    filter: var(--solid-shadow);
}