.btn-contact {
    border-radius: 50px;
    color: black;
    background: linear-gradient(to right, #22ff00 0%, #00ffff 51%, #ae00ff 100%);
    background-repeat: no-repeat;
    transition: all 0.3s var(--curve);
    background-size: 400% auto;
    background-position: -5px center;
    position: relative;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    border: var(--solid-border);
    filter: var(--solid-shadow);
    font-size: 1.2em;
    font-weight: bold;

    &.tiny {
        min-width: 200px;
        font-size: 1.2em;
        font-weight: normal;

        svg {
            width: 24px;
            height: 24px;
            margin-bottom: 4px;
        }
    }

    &:hover {
        background-position: calc(100% + 5px) center;
        color: white;
        border: 2px solid black;
    }
}

.btn {
    border: var(--solid-border);
    filter: var(--solid-shadow);
}