// Global Variables
:root {
    --shadow: drop-shadow(10px 10px 5px #00000080);
    --card-shadow: drop-shadow(0 0 10px black);
    --curve: cubic-bezier(0.39, 0.575, 0.565, 1);

    --glass-white: #ffffffba;
    --clear-white: #ffffff68;
    --glass-blur: blur(10px);
}


// Scrollbar & scrolling
* {
    scroll-margin-top: 100px;

    scrollbar-color: #cccccc #eeeeee;
    ::-webkit-scrollbar {
        width: 14px;
    }
    ::-webkit-scrollbar-track {
        background: #eeeeee;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #c9c9c9;
        border-radius: 20px;
    }
}

// Body
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}