// Global Variables
:root {
    --shadow: drop-shadow(10px 10px 5px #00000080);
    --curve: cubic-bezier(0.39, 0.575, 0.565, 1);
}


// Scrollbar & scrolling
* {
    scroll-margin-top: 100px;

    scrollbar-color: #333333 #111111;
    ::-webkit-scrollbar {
        width: 14px;
    }
    ::-webkit-scrollbar-track {
        background: #111111;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #242424;
        border-radius: 20px;
    }
}

// Body
body {
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
}