.navbar {
    // Variables
    $transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;

    // Constants
    padding: 16px;
    transition: $transition;

    .nav-link {
        font-size: medium;
        font-weight: bold;
        color: black;
    }

    // Navbar Dropdown
    .dropdown-menu {
        background-color: #ffffffa6;
        border: 1px solid #4b4b4ba6;

        .dropdown-item {
            color: black;
            padding: 8px 16px;
            transition: $transition;

            &:hover {
                background-color: #ffffffa6;
                color: black;
            }
        }
    }

    // Change the navbar styling once the user starts to scroll
    background-color: #ffffffa6;

    .navbar-brand img {
        height: 50px;
        transition: $transition;
    }
    
     // On Scroll
    @media screen and (min-width: 1150px) {
        &.navbar-shrink {
            background-color: white;
    
            .navbar-brand img {
                height: 30px;
            }
        }
    }

    // Mobile
    @media screen and (max-width: 1150px) {
        background-color: white;
        .navbar-brand img {
            height: 30px;
        }
    }
}