.navbar {
    // Variables
    $transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
    $background: #00000052;

    // Constants
    padding: 8px;
    transition: $transition;
    background-color: $background;
    //border-bottom: solid 2px #ffffff52;

    // Navbar Brand
    .navbar-brand svg{
        height: 42px;
    }

    @media screen and (max-width: 1000px) {

        .navbar-brand svg{
            width: 206px;
            height: 30px;
        }
    }

    svg, .nav-link {
        color: white;
        transition: $transition;
    }

    .nav-link {
        font-size: medium;
        font-weight: bold;
    }

    // Navbar Dropdown
    .dropdown-menu {
        background-color: black;

        .dropdown-item {
            backdrop-filter: blur(20px);
            color: white;
            padding: 8px 16px;
            transition: $transition;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }

    &/*.scrolled*/ {
        background-color: white;

        svg, .nav-link {
            color: black;
        }
    }
}