form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#results {
    p {
        margin-bottom: 0px;
    }

    transition: all 0.5s var(--curve);
    height: 200px;
    margin-top: 20px;

    &.hidden {
        opacity: 0;
        transform: translateX(-20px);
    }

    order: 3;
    @media screen and (max-width: 1000px) {
        order: 1;
        margin-top: 0px;
        margin-bottom: 20px;
        &.hidden {
            transform: none;
            margin-bottom: 0px;
            height: 0px;
            margin: 0;
        }
    }
}