.main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    .main-background {
        filter: none;
        position: fixed;
    }

    .main-content {
        display: flex;

        .floating-content {
            display: flex;
            flex-grow: 1;
            padding-top: 100px;

            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            overflow: hidden;
        }

        .panel {
            $angle: calc(20vw - 200px);

            background-color: #ffffff8a;
            margin-left: auto;

            width: 800px;
            height: 100vh;
            overflow: hidden;

            padding: 30px;
            padding-top: 110px;
            position: relative;
            color:black;
            text-align: right;

            backdrop-filter: blur(10px);

            clip-path: polygon(0 0, 100% 0, 100% 100%, $angle 100%);

            .name {
                font-size: 2rem;
                font-weight: 700;
            }

            .location {
                font-size: 1.2rem;
                margin-bottom: 60px;
            }

            & > * {
                margin-left: calc($angle * var(--dist, 0.5));
                padding-left: 0px;
            }
        }

        @media screen and (max-width: 1000px) {
            flex-direction: column-reverse;

            .floating-content {
                padding: 30px;
                flex-direction: row;
            }

            .panel {
                width: 100%;
                height: auto;
                margin-left: 0px;
                padding-left: 30px;

                .location {
                    margin-bottom: 30px;
                }

                * {
                    text-align: center;
                    width: auto;
                    margin-left: 0px;
                }
            }
        }
    }
}