.main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    .main-background {
        filter: brightness(0.8);
        position: fixed;
    }

    .main-content {
        display: flex;

        .floating-content {
            display: flex;
            flex-grow: 1;
            padding-top: 100px;

            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            overflow: hidden;

            min-width: 500px;

            transition: transform 0.5s var(--curve);
            transform: translateX(0%);

            --width: 480px;
            --height: 270px;

            iframe, #imageCarousel {
                filter: var(--card-shadow);
                width: var(--width);
                height: var(--height);
            }

            #imageCarousel .carousel-item {
                width: var(--width);
                height: var(--height);
                overflow: hidden;

                img {
                    width: var(--width);
                    height: var(--height);
                }
            }
        }

        .panel {
            $angle: calc(15vw - 200px);

            background-color: #ffffffe0;
            margin-left: auto;

            max-width: 800px;
            height: 100vh;
            overflow: hidden;

            padding: 30px;
            padding-top: 110px;
            padding-right: 40px;
            position: relative;
            color:black;
            text-align: right;

            backdrop-filter: var(--glass-blur);

            clip-path: polygon(0 0, 100% 0, 100% 100%, $angle 100%);

            transition: transform 0.5s var(--curve);
            transform: translateX(0%);

            .name {
                font-size: 2rem;
                font-weight: 700;
            }

            .location {
                font-size: 1.2rem;
                margin-bottom: 60px;
            }

            .buttons {
                a {
                    svg {
                        margin-left: 8px;
                    }
                }
            }

            & > * {
                margin-left: calc($angle * var(--dist, 0.5));
                padding-left: 0px;
            }
        }

        &.intro {
            .panel {
                transform: translateX(120%);
            }

            .floating-content {
                transform: translateX(-120%);
            }
        }

        @media screen and (max-width: 1000px) {
            flex-direction: column-reverse;

            .floating-content {
                padding: 30px;
                flex-direction: row;
                min-width: none;

                --width: 360px;
                --height: 180px;
            }

            .panel {
                max-width: none;
                width: 100%;
                height: auto;
                margin-left: 0px;
                padding-left: 30px;

                .location {
                    margin-bottom: 30px;
                }

                * {
                    text-align: center;
                    width: auto;
                    margin-left: 0px;
                }
            }
        }
    }
}