.main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    .main-content {
        display: flex;

        .floating-content {
            --width: 640px;
            --height: 360px;
            min-width: 550px;
            min-height: 600px;
            flex-grow: 1;

            .fixed {
                display: flex;
                position: fixed;
                padding-top: 80px;

                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 30px;

                min-width: 550px;
                min-height: 400px;
                height: 100vh;

                transition: transform 0.5s var(--curve);
                transform: translateX(0%);

                left: calc((100vw - min(800px, 100vw - 630px)) / 2 + min(800px, 100vw - 630px) - 500px / 2);

                iframe, #imageCarousel {
                    filter: var(--card-shadow);
                    width: var(--width);
                    height: var(--height);
                }

                #imageCarousel .carousel-item {
                    width: var(--width);
                    height: var(--height);
                    overflow: hidden;

                    img {
                        width: var(--width);
                        height: var(--height);
                        object-fit: cover;
                    }
                }
            }
        }

        .floating-content.has_video {
            .fixed {
                min-height: 600px;
            }
        }

        .panel {
            $angle: calc(17vw - 200px);

            max-width: 900px;
            min-height: 100vh;
            overflow: hidden;

            padding: 30px;
            padding-top: 90px;
            padding-left: 40px;
            position: relative;
            color:black;

            clip-path: polygon(0 0, 0 100%, calc(100% - $angle) 100%, 100% 0);

            transition: transform 0.5s var(--curve);
            transform: translateX(0%);

            display: flex;
            flex-direction: column;

            p {
                text-align: justify;
                text-justify: inter-word;
            }

            .name {
                font-size: 2rem;
                font-weight: 700;
            }

            .location {
                font-size: 1.2rem;
                margin-bottom: 30px;
            }

            .sold {
                h2 {
                    font-size: 1.4rem;
                }
                margin-bottom: 20px;
            }

            .buttons {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                a {
                    svg {
                        margin-left: 8px;
                    }
                }
            }

            & > * {
                margin-right: calc($angle * var(--dist, 0.5));
                padding-right: 0px;
            }

            footer {
                padding-top: 20px;
                margin-top: auto;
            }
        }

        &.intro {
            .panel {
                transform: translateX(-120%);
            }

            .floating-content {
                transform: translateX(120%);
            }
        }

        @media screen and (max-width: 1200px) {
            .panel {
                clip-path: none;
                padding-right: 40px;

                & > * {
                    margin-right: 0px;
                }
            }
        }

        @media screen and (max-width: 1600px) {
            .floating-content {
                --width: 500px;
                --height: 292px;
            }
        }

        @media screen and ((max-width: 1400px) or (max-height: 800px)) {
            .floating-content.has_video {
                --width: 400px;
                --height: 225px;
            }
        }

        @media screen and (max-height: 600px) {
            .floating-content.has_video {
                .fixed {
                    position: initial;
                    left: auto;
                }
            }
        }

        @media screen and (max-height: 390px) {
            .floating-content {
                .fixed {
                    position: initial;
                    left: auto;
                }
            }
        }

        @media screen and (max-width: 1080px) {
            flex-direction: column;

            .floating-content {
                min-width: 0;
                min-height: 0;

                .fixed {
                    padding: 40px;
                    flex-direction: row;
                    min-width: 0;
                    min-height: 0;
                    height: auto;
                    position: initial;
                    left: auto;
                    flex-wrap: wrap;
                }
            }

            .panel {
                max-width: none;
                min-height: 0;
                width: 100%;
                margin-right: 0px;
                padding-left: 30px;
                padding-right: 30px;

                .location {
                    margin-bottom: 30px;
                }

                * {
                    width: auto;
                    margin-right: 0px;
                }
            }
        }
    }
}