.main-background {
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    & .fading {
        filter: none;
        transform: scale(1);
        opacity: 0;
        animation: fade 1s;
        animation-direction: normal;
        animation-timing-function: var(--curve);
        animation-fill-mode: forwards;
    }

    @keyframes fade {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}

.main-content {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;

    .catagories {
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        .catagoryButton {
            height: 50px;
            background-color: black;
            border-radius: 50px;
            border: 0px solid white;
            display: flex;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.2s var(--curve);
            padding-left: 30px;
            padding-right: 30px;

            h1 {
                transition: all 0.2s var(--curve);
                font-size: large;
                color: white;
                text-shadow: 5px 5px 5px #00000080;
                margin: auto;
                text-align: center;
            }

            &:hover {
                h1 {
                    scale: 1.1;
                }
            }

            &.selected {
                border-width: 4px;
                h1 {
                    scale: 1.1;
                }
            }
        }

        @media screen and (max-width: 840px) {
            gap: 10px;

            .catagoryButton {
                height: 40px;
                padding-left: 20px;
                padding-right: 20px;

                h1 {
                    font-size: medium;
                }

                &.selected {
                    border-width: 3px;
                }
            }
        }
    }

    .header {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
        
        color: white;
        text-shadow: 5px 5px 5px #00000080;

        text-align: center;

        @media screen and (max-width: 600px) {
            .deco {
                display: none;
            }
        }
    }

    .group {
        gap: 30px;
    }

    @media screen and (max-width: 700px) {
        .group {
            gap: 20px;
        }
    }
}