.main-background {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.main-content {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;

    .catagories {
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        .categoryButton {
            height: 50px;
            background-color: white;
            border-radius: 50px;
            display: flex;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.2s var(--curve);
            padding-left: 30px;
            padding-right: 30px;
            filter: var(--card-shadow);

            h1 {
                transition: all 0.2s var(--curve);
                font-size: large;
                color: black;
                margin: auto;
                text-align: center;
                font-weight: bold;
            }

            &:hover {
                h1 {
                    scale: 1.1;
                }
            }

            &.selected {
                background-color: #161616;
                h1 {
                    scale: 1.1;
                    color: white
                }
            }
        }

        @media screen and (max-width: 840px) {
            gap: 10px;

            .categoryButton {
                height: 40px;
                padding-left: 20px;
                padding-right: 20px;

                h1 {
                    font-size: medium;
                }
            }
        }
    }

    .header {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
        
        color: white;
        text-shadow: 5px 5px 5px #00000080;

        text-align: center;

        @media screen and (max-width: 600px) {
            .deco {
                display: none;
            }
        }
    }

    .group {
        gap: 30px;
    }

    @media screen and (max-width: 700px) {
        .group {
            gap: 20px;
        }
    }
}