.main {
    .main-background {
        filter: none;
    }

    .main-content {
        @keyframes fade_in {
            0% {
                transform: translateY(-50px);
                opacity: 0;
            }
            100% {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        
        .panel {
            padding: 20px;
            max-width: 1000px;
            border-radius: 20px;

            p,ul {
                text-align: justify;
                text-justify: inter-word;
            }

            p:last-child, ul:last-child {
                margin-bottom: 0px;
            }

            ul {
                padding-left: 16px;
            }

            h1, h2 {
                margin: 0px;
                text-align: center;
            }

            a {
                color: black;
            }
        }

        .panel.full {
            width: 100%;
        }

        .panel, .floating-btn, .floating-img {
            animation-duration: 0.5s;
            animation-timing-function: var(--curve);
            opacity: 0;
            transform: translateY(-50px);
            animation-fill-mode: forwards;
            filter: var(--shadow);
        }

        .floating-img {
            border-radius: 20px;
        }
    }
}