.main {
    .main-background {
        filter: none;
    }

    .main-content {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        
        .panel {
            padding: 20px;
            max-width: 1000px;
            border-radius: 20px;

            p,ul {
                text-align: justify;
                text-justify: inter-word;
            }

            p:last-child, ul:last-child {
                margin-bottom: 0px;
            }

            ul {
                padding-left: 16px;
            }

            h1, h2 {
                margin: 0px;
                text-align: center;
            }
        }

        .panel.full {
            width: 100%;
        }

        .panel, .btn {
            transition: all 0.5s var(--curve);
            filter: var(--shadow);
        }

        &.intro {
            .panel, .btn {
                transform: translateY(-50px);
                opacity: 0;
            }
        }
    }
}