<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header'); %>
    <link rel="stylesheet" href="/css/sub_page.css">
    <script src="/js/sub_page.js"></script>
    <title>My Unique Approach - Kitty Cho | Personal Real Estate Corporation</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../../partials/navbar'); %>

    <!-- Main Content -->
    <div class="main">
        <%- include('../../partials/background', {background: featured}); %>
        <div class="main-content intro">
            <div class="panel">
                <h1><b>My Unique Approach</b></h1>
            </div>
            <div class="panel">
                <p>I will give you up-to-date information on what's happening in the marketplace as well as the price, financing, terms and condition of competing properties. These are key factors in getting your property sold at the best price, quickly and with minimum hassle.</p>
                <p>Getting your property sold will be achieved through maximum exposure of your property through maximum exposure of your property through marketing, pricing, and negotiation and closing.</p>
            </div>
            <div class="panel">
                <h2><b>Digital Marketing</b></h2>
            </div>
            <div class="d-inline-flex justify-content-center flex-wrap" style="gap: 20px; max-width: 1100px">
                <div class="panel d-inline-flex align-items-center flex-column" style="flex: 1 1 450px">
                    <svg width="64" height="64">
                        <use xlink:href="/svg/window.svg#id"/>
                    </svg>
                    <h3 style="text-align: center;">Website Marketing</h3>
                    <p style="text-align: center;">Your property is advertised on my website, Sutton listins, webstite, REW, allowing for prospective buyers to get all the details about your home online and contact me in case they are interested in buying the property.</p>
                </div>
                <div class="panel d-inline-flex align-items-center flex-column" style="flex: 1 1 450px">
                    <svg width="64" height="64">
                        <use xlink:href="/svg/share-fill.svg#id"/>
                    </svg>
                    <h3 style="text-align: center;">Social Media Marketing</h3>
                    <p style="text-align: center;">To leverage on the virality and reach of socal media, I market your property on different social media platforms. This helps us generate more leads and find the right buyer for your home.</p>
                </div>
                <div class="panel d-inline-flex align-items-center flex-column" style="flex: 1 1 450px">
                    <svg width="64" height="64">
                        <use xlink:href="/svg/camera-video-fill.svg#id"/>
                    </svg>
                    <h3 style="text-align: center;">Make Videos</h3>
                    <p style="text-align: center;">When looking for a property to buy, most people want to see the house inside out. As a seller, you must ensure that your marketing efforts are aligned with your customer's interests. A video that showcases buyers' your property in detail will help you entice potential buyers and increase exposure. This will also create a good image for you in the minds of customers'.</p>
                </div>
                <div class="panel d-inline-flex align-items-center flex-column" style="flex: 1 1 450px">
                    <svg width="64" height="64">
                        <use xlink:href="/svg/people-fill.svg#id"/>
                    </svg>
                    <h3 style="text-align: center;">Ask for Referrals</h3>
                    <p style="text-align: center;">In order to sell properties, it is important to form close ties to real estate agents. I work in the largest brokerage in Canada with well over 1600 agents. You can ask realtors or referrals so more buyers show interest in your property. This option is best for those who do not want to spend a lot fo money on marketing. However, keep in mind that a realtor might ask for a little commission for their </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../../partials/footer'); %>
</body>
</html>