<nav class="navbar navbar-expand-lg fixed-top" id="navbar-main">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <svg width="206px" height="30px">
            <use xlink:href="/svg/logo/logoLong.svg#id"/>
          </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-top">
            <ul class="navbar-nav me-auto mb-10 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      About
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/bio">Bio</a></li>
                      <li><a class="dropdown-item" href="/testimonials">Testimonials</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/locations">Locations</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Buy
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/thinking-of-buying">Thinking Of Buying?</a></li>
                      <li><a class="dropdown-item" href="/first-time-home-buyers">First Time Home Buyers</a></li>
                      <li><a class="dropdown-item" href="/cost-in-buying-a-home">Costs Involved In Buying A Home</a></li>
                      <li><a class="dropdown-item" href="/mortgage-payment-calculator">Mortgage Payment Calculator</a></li>
                      <li><a class="dropdown-item" href="/top-5-reasons-for-using-a-realtor">Top 5 + 1 Reasons For Using A Realtor</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sell
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/thinking-of-selling">Thinking Of Selling?</a></li>
                      <li><a class="dropdown-item" href="/my-unique-approach">My Unique Approach</a></li>
                    </ul>
                </li>
                
            </ul>
            <ul class="navbar-nav ms-auto mb-10 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/newsletter">Newsletter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://instagram.com/hellokittycho.realtor_" target="_blank">Instagram</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/@kittychorealtor" target="_blank">YouTube</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mailto:kittychosutton@gmail.com" target="_blank">Contact</a>
              </li>
            </ul>
        </div>
    </div>
  </nav>