<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header'); %>
    <link rel="stylesheet" href="/css/sub_page.css">
    <script src="/js/sub_page.js"></script>
    <title>Bio - Kitty Cho | PREC</title>
    <meta name="description" content="About Kitty Cho">
    <meta property="og:title" content="Bio"/>
    <meta property="og:description" content="About Kitty Cho"/>
    <meta property="og:url" content="https://kittycho.ca/bio/">
    <meta property="og:image" content="https://kittycho.ca/images/common/headshot.png"/>
</head>
<body>
    <!-- Navbar -->
    <%- include('../../partials/navbar'); %>

    <!-- Main Content -->
    <div class="main">
        <%- include('../../partials/background', {background: featured}); %>
        <div class="main-content intro">
            <div class="panel">
                <h1><b>Kitty Cho | Personal Real Estate Corporation</b></h1>
            </div>
            <div class="panel">
                <div class="d-inline-flex align-items-center justify-content-center flex-wrap flex-row-reverse" style="gap: 20px">
                    <img src="/images/common/headshot.png" width="332" height="391">
                    <div style="flex: 1 1 400px">
                        <p style="margin-bottom: 50px">Kitty was born and raised in the beautiful and vibrant city of Vancouver and has watched as the city has transformed itself into a major metropolitan centre over the past twenty years.</p>
                        <p>Kitty attended Simon Fraser University where she obtained a Bachelor's Degree in Business Administration with a concentration in Marketing. After working for a decade in corporate business and luxury retail, Kitty pursued her second passion in education. She returned to Simon Fraser University to obtain her Bachelor of Education degree and a Post-Baccalaureate degree in Early Childhood Education. Kitty has an abundance of experience working with people and helping to grow and build communities. Through many years of teaching part-time fitness classes at Killarney Community Centre, her high school community centre, she has helped people achieve their fitness goals and assisted them in realizing the value of living a healthy lifestyle. She continues to stay true to her roots by supporting her community.</p>
                    </div>
                </div>
            </div>
            <div class="panel">
                <p>At the age of 26,  Kitty purchased her first detached house in Burnaby where she continues to reside with her family.  Just four years ago, Kitty built her dream home on the exact same property. Being involved throughout the building process has provided Kitty with in-depth knowledge of working with the city permitting process, architectural planning process, and interior design. Her knowledge and experience make her uniquely suited to enabling her clients achieve their real estate goals. Kitty has aligned herself with Sutton First West Realty due to its VIP access to presales, which provides a significant advantage to her clients of having “first choice”.</p>
            </div>
            <div class="panel">
                <p>Kitty's greatest passion is guiding clients through their real estate endeavours, whether it be selling, buying or investing in presale properties. Kitty is professional, honest (sharing her real estate success stories and how to avoid pitfalls) and transparent in all her dealings and knows that when purchasing property, you are not just buying a home, you are buying into a community. Her knowledge of the local real estate market, experience in home building and life skills make her the realtor of choice when deciding on life's greatest financial investment.</p>
            </div>
            <div class="panel">
                <p>Check her out on social media @hellokittycho or visit www.kittycho.ca. You can also call or text her, but of course, her preference is to meet you in person.  What's yours?</p>
            </div>
        </div>  
    </div>

    <!-- Footer -->
    <%- include('../../partials/footer'); %>
</body>
</html>