.main-content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
  min-height: 500px;
}

.code {
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5019607843);
  font-size: min(12em, 50vw);
  font-weight: bold;
}

.message {
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5019607843);
  font-size: max(1em, min(12em, 50vw) * 0.1);
  font-weight: bold;
}
