.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.main .main-content {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 74px);
  margin-top: 74px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.main .main-content .slogan {
  transition: all 0.5s var(--curve);
  opacity: 1;
  color: white;
  text-shadow: var(--text-shadow);
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.main .main-content .notSlogan {
  gap: 80px;
  width: 100%;
  height: 100%;
}
.main .main-content .notSlogan .main-content__left, .main .main-content .notSlogan .main-content__right {
  transition: all 0.5s var(--curve);
  opacity: 1;
}
.main .main-content .notSlogan .main-content__left img {
  height: 320px;
  object-fit: contain;
  margin-bottom: 20px;
}
.main .main-content .notSlogan .main-content__left img, .main .main-content .notSlogan .main-content__left a {
  filter: var(--shadow);
}
.main .main-content .notSlogan .main-content__left .phone {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.main .main-content .notSlogan .main-content__left .phone svg {
  color: white;
  filter: var(--shadow);
}
.main .main-content .notSlogan .main-content__left .phone a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.2s var(--curve);
}
.main .main-content .notSlogan .main-content__left .phone a:hover {
  text-decoration: underline;
}
.main .main-content.intro .logo {
  transform: translateY(-100px);
  opacity: 0;
}
.main .main-content.intro .notLogo .main-content__left {
  transform: translateX(-100px);
  opacity: 0;
}
.main .main-content.intro .notLogo .main-content__right {
  transform: translateX(100px);
  opacity: 0;
}

.youtube {
  padding: 20px;
  background-color: black;
}
.youtube .youtube_videos {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.youtube .youtube_videos .outer_wrapper {
  width: min(400px, 27vw);
}
.youtube .youtube_videos .outer_wrapper .inner_wrapper {
  position: relative;
  padding-bottom: 56.25%;
}
.youtube .youtube_videos .outer_wrapper .inner_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .youtube .youtube_videos {
    flex-direction: column;
  }
  .youtube .youtube_videos .outer_wrapper {
    width: 100%;
    max-width: 400px;
  }
}

.instagram {
  padding: 20px;
  background-color: white;
}
.instagram .instagram_header {
  display: flex;
  gap: 20px;
}
.instagram .instagram_header img {
  border-radius: 50%;
  border: var(--solid-border);
  filter: var(--solid-shadow);
}
.instagram .instagram_header .user_info .username {
  font-weight: 300;
  font-size: 1.6em;
  text-decoration: none;
  color: var(--text-color);
}
.instagram .instagram_header .user_info .info {
  margin-top: 10px;
  margin-bottom: 6px;
}
.instagram .instagram_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.instagram .instagram_cards .instagram_card {
  --size: 300px;
  border-radius: 20px;
  filter: var(--card-shadow);
  width: var(--size);
  height: var(--size);
  text-decoration: none;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;
}
.instagram .instagram_cards .instagram_card .video_icon {
  margin: 50%;
  transform: translateX(-50%) translateY(-25%);
}
.instagram .instagram_cards .instagram_card .video_icon svg {
  color: white;
  filter: var(--card-shadow);
}
.instagram .instagram_cards .instagram_card .overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 60, 120, 0.4549019608);
  backdrop-filter: blur(4px);
  opacity: 0;
  transition: opacity 0.2s var(--curve);
  font-size: 1.4em;
}
.instagram .instagram_cards .instagram_card:hover .overlay {
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  .instagram .instagram_cards .instagram_card {
    --size: 200px;
  }
}
@media screen and (max-width: 700px) {
  .instagram .instagram_cards .instagram_card {
    --size: 165px;
  }
}
