.main {
  width: 100%;
  overflow: hidden;
}
.main .main-background {
  filter: none;
}
.main .title {
  height: 100svh;
  display: flex;
}
.main .title .contain {
  margin-top: auto;
  margin-bottom: 30px;
  margin-left: 30px;
  color: white;
}
.main .title .contain .name {
  font-size: min(8em, 15vw);
}
.main .title .contain .company {
  font-size: 2em;
}
.main .title .contain .name, .main .title .contain .company {
  font-weight: 700;
  text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.7529411765), 1px 1px 10px rgba(0, 0, 0, 0.7529411765), 1px -1px 10px rgba(0, 0, 0, 0.7529411765), -1px 1px 10px rgba(0, 0, 0, 0.7529411765);
}
.main .main-content {
  background-color: white;
}
.main .main-content .content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.main .main-content .content .columns {
  display: flex;
  gap: 20px;
}
.main .main-content .content .columns .information p, .main .main-content .content .columns .information td {
  color: black;
}
.main .main-content .content .columns .information h3 {
  color: #000066;
  font-size: 1.4em;
  font-weight: bold;
}
.main .main-content .content .columns .information img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.main .main-content .content .columns .information .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.main .main-content .content .columns .information .buttons a svg {
  margin-left: 8px;
}
.main .main-content .content .columns .media {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 400px;
  min-width: 400px;
}
.main .main-content .content .columns .media .video_wrapper {
  position: relative;
  padding-bottom: 56.25%;
}
.main .main-content .content .columns .media .video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .main-content .content .columns .media #imageCarousel {
  display: none;
}
.main .main-content .content .columns .media #imageCarousel .carousel-item {
  position: relative;
  padding-bottom: 56.25%;
}
.main .main-content .content .columns .media #imageCarousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .main-content .content .columns .media .single-img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 800px) {
  .main .main-content .content .columns {
    flex-direction: column-reverse;
  }
  .main .main-content .content .columns .media {
    min-width: initial;
  }
  .main .main-content .content .columns .media .single-img {
    display: none;
  }
  .main .main-content .content .columns .media #imageCarousel {
    display: initial;
  }
}
