.main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.main .main-content {
  display: flex;
}
.main .main-content .floating-content {
  --width: 640px;
  --height: 360px;
  min-width: 550px;
  min-height: 600px;
  flex-grow: 1;
}
.main .main-content .floating-content .fixed {
  display: flex;
  position: fixed;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  min-width: 550px;
  min-height: 400px;
  height: 100vh;
  transition: transform 0.5s var(--curve);
  transform: translateX(0%);
  left: calc((100vw - min(800px, 100vw - 630px)) / 2 + min(800px, 100vw - 630px) - 250px);
}
.main .main-content .floating-content .fixed iframe, .main .main-content .floating-content .fixed #imageCarousel {
  filter: var(--card-shadow);
  width: var(--width);
  height: var(--height);
}
.main .main-content .floating-content .fixed #imageCarousel .carousel-item {
  width: var(--width);
  height: var(--height);
  overflow: hidden;
}
.main .main-content .floating-content .fixed #imageCarousel .carousel-item img {
  width: var(--width);
  height: var(--height);
  object-fit: cover;
}
.main .main-content .floating-content.has_video .fixed {
  min-height: 600px;
}
.main .main-content .panel {
  max-width: 900px;
  min-height: 100vh;
  overflow: hidden;
  padding: 30px;
  padding-top: 90px;
  padding-left: 40px;
  position: relative;
  color: black;
  clip-path: polygon(0 0, 0 100%, calc(100% - (17vw - 200px)) 100%, 100% 0);
  transition: transform 0.5s var(--curve);
  transform: translateX(0%);
}
.main .main-content .panel p {
  text-align: justify;
  text-justify: inter-word;
}
.main .main-content .panel .name {
  font-size: 2rem;
  font-weight: 700;
}
.main .main-content .panel .location {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.main .main-content .panel .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.main .main-content .panel .buttons a svg {
  margin-left: 8px;
}
.main .main-content .panel > * {
  margin-right: calc((17vw - 200px) * var(--dist, 0.5));
  padding-right: 0px;
}
.main .main-content.intro .panel {
  transform: translateX(-120%);
}
.main .main-content.intro .floating-content {
  transform: translateX(120%);
}
@media screen and (max-width: 1200px) {
  .main .main-content .panel {
    clip-path: none;
    padding-right: 40px;
  }
  .main .main-content .panel > * {
    margin-right: 0px;
  }
}
@media screen and (max-width: 1600px) {
  .main .main-content .floating-content {
    --width: 500px;
    --height: 292px;
  }
}
@media screen and ((max-width: 1400px) or (max-height: 800px)) {
  .main .main-content .floating-content.has_video {
    --width: 400px;
    --height: 225px;
  }
}
@media screen and (max-height: 600px) {
  .main .main-content .floating-content.has_video .fixed {
    position: initial;
    left: auto;
  }
}
@media screen and (max-height: 390px) {
  .main .main-content .floating-content .fixed {
    position: initial;
    left: auto;
  }
}
@media screen and (max-width: 1080px) {
  .main .main-content {
    flex-direction: column;
  }
  .main .main-content .floating-content {
    min-width: 0;
    min-height: 0;
  }
  .main .main-content .floating-content .fixed {
    padding: 40px;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    height: auto;
    position: initial;
    left: auto;
    flex-wrap: wrap;
  }
  .main .main-content .panel {
    max-width: none;
    min-height: 0;
    width: 100%;
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .main .main-content .panel .location {
    margin-bottom: 30px;
  }
  .main .main-content .panel * {
    width: auto;
    margin-right: 0px;
  }
}
