:root {
  --shadow: drop-shadow(10px 10px 5px #00000080);
  --card-shadow: drop-shadow(0 0 10px black);
  --curve: cubic-bezier(0.39, 0.575, 0.565, 1);
  --glass-white: #ffffffba;
  --glass-blur: blur(10px);
}

* {
  scroll-margin-top: 100px;
  scrollbar-color: #cccccc #eeeeee;
}
* ::-webkit-scrollbar {
  width: 14px;
}
* ::-webkit-scrollbar-track {
  background: #eeeeee;
}
* ::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 20px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.navbar {
  padding: 16px;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
  background-color: var(--glass-white);
  backdrop-filter: var(--glass-blur);
}
.navbar .nav-link {
  font-size: medium;
  font-weight: bold;
  color: black;
}
.navbar .dropdown-menu {
  background-color: var(--glass-white);
  border: 1px solid rgba(75, 75, 75, 0.6509803922);
}
.navbar .dropdown-menu .dropdown-item {
  color: black;
  padding: 8px 16px;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.6509803922);
  color: black;
}
.navbar .navbar-brand img {
  height: 30px;
}

.location_card {
  --height: 200px;
  --width: 400px;
  --imgHeight: 160px;
  perspective: 600px;
  filter: var(--card-shadow);
}
.location_card.featured {
  --height: 300px;
  --width: 500px;
  --imgHeight: 250px;
}
.location_card, .location_card .card_inner {
  transition: transform 250ms var(--curve);
}
.location_card:hover {
  transform: scale(1.15);
  z-index: 10;
}
.location_card, .location_card:hover {
  color: black;
  text-decoration: none;
}
.location_card .card_inner {
  width: var(--width);
  border-radius: 20px;
  transform: scale(1);
  pointer-events: none;
  overflow: hidden;
  position: relative;
}
.location_card .card_inner::before {
  background-image: var(--image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: var(--glass-blur);
}
.location_card .card_inner .card_image {
  width: 100%;
  overflow: hidden;
}
.location_card .card_inner .card_image img {
  width: var(--width);
  height: var(--imgHeight);
  object-fit: cover;
  object-position: center;
  transform: scale(1.1);
}
.location_card .card_inner .card_image .overlay {
  background-color: var(--color, black);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  padding-left: 15px;
  padding-right: 0;
  font-weight: bold;
  font-size: 20px;
}
.location_card .card_inner .card_image .overlay::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 100%;
  border-top: 40px solid var(--color, black);
  border-right: 40px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
}
.location_card .card_inner .content {
  background-color: var(--glass-white);
  width: 100%;
  height: calc(var(--height) / 2);
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: end;
  display: flex;
  flex-direction: column;
  transform: translateY(0px);
}
.location_card .card_inner .content .title {
  height: 100%;
}
.location_card .card_inner .content .title h1 {
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: black;
}
.location_card .card_inner .content p {
  font-size: 0.92rem;
  line-height: 1.3rem;
  margin-bottom: 0;
}
.location_card .card_inner .content .link {
  margin-bottom: 0px;
}
.location_card.featured .content p {
  font-size: initial;
  line-height: initial;
  margin-bottom: 14px;
}
@media screen and (max-width: 700px) {
  .location_card:hover {
    transform: scale(1.045);
  }
  .location_card .card_inner {
    width: 100%;
  }
  .location_card .card_inner .card_image img {
    width: 100%;
  }
  .location_card.featured {
    width: calc(100% - 40px);
    --imgHeight: 150px;
    --height: 340px;
  }
  .location_card:not(.featured) .card_inner {
    width: auto;
    height: 100px;
    display: flex;
  }
  .location_card:not(.featured) .card_inner .card_image {
    height: 100px;
  }
  .location_card:not(.featured) .card_inner .card_image img {
    width: 100%;
    height: 100px;
  }
  .location_card:not(.featured) .card_inner .content {
    width: auto;
    height: 100px;
  }
  .location_card:not(.featured) .card_inner .content .title h1 {
    font-size: 1.1rem;
  }
  .location_card:not(.featured) .card_inner .content p {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 0px;
  }
}

.main-background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
  filter: blur(3px) brightness(0.6);
}

.panel {
  background-color: var(--glass-white);
}

.btn-contact {
  border-radius: 50px;
  color: black;
  background: linear-gradient(to right, #22ff00 0%, #00ffff 51%, #ae00ff 100%);
  background-repeat: no-repeat;
  transition: all 0.3s var(--curve);
  background-size: 400% auto;
  background-position: -5px center;
  position: relative;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
}
.btn-contact.tiny {
  min-width: 200px;
  font-size: 1.2em;
}
.btn-contact.tiny svg {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}
.btn-contact::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  background-repeat: no-repeat;
  border-radius: inherit;
  filter: blur(20px);
  z-index: -1;
}
.btn-contact:hover {
  background-position: calc(100% + 5px) center;
  color: white;
}
