:root {
  --shadow: drop-shadow(10px 10px 5px #00000080);
  --card-shadow: drop-shadow(0 0 10px black);
  --text-shadow: 5px 5px 5px #00000080;
  --curve: cubic-bezier(0.39, 0.575, 0.565, 1);
  --glass-white: #ffffffd0;
  --glass-blur: blur(10px);
  --solid-shadow: drop-shadow(5px 5px 0px #00000080);
  --solid-border: 2px solid black;
}

* {
  scroll-margin-top: 100px;
  scrollbar-color: #cccccc #eeeeee;
}
* ::-webkit-scrollbar {
  width: 14px;
}
* ::-webkit-scrollbar-track {
  background: #eeeeee;
}
* ::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 20px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.navbar {
  padding: 16px;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
  background-color: white;
}
.navbar .nav-link {
  font-size: medium;
  font-weight: bold;
  color: black;
}
.navbar .dropdown-menu {
  background-color: white;
}
.navbar .dropdown-menu .dropdown-item {
  color: black;
  padding: 8px 16px;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: white;
  color: black;
}

.location_card {
  --height: 230px;
  --width: 370px;
  --imgHeight: 160px;
  perspective: 600px;
  filter: var(--card-shadow);
}
.location_card.subFeature {
  --height: 280px;
}
.location_card.mainFeature {
  --width: 460px;
  --height: auto;
  --imgHeight: 250px;
}
.location_card.sharedFeature {
  --width: 420px;
  --height: 300px;
  --imgHeight: 200px;
}
.location_card, .location_card .card_inner {
  transition: all 100ms var(--curve), scale 250ms var(--curve);
}
.location_card:hover {
  scale: 1.15;
  z-index: 10;
}
.location_card, .location_card:hover {
  color: black;
  text-decoration: none;
}
.location_card .card_inner {
  width: var(--width);
  border-radius: 20px;
  scale: 1;
  pointer-events: none;
  overflow: hidden;
  position: relative;
}
.location_card .card_inner::before {
  background-image: var(--image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: var(--glass-blur);
}
.location_card .card_inner .card_image {
  width: 100%;
  height: var(--imgHeight);
  background-color: white;
  overflow: hidden;
  position: relative;
}
.location_card .card_inner .card_image .img {
  width: var(--width);
  height: var(--imgHeight);
  background-size: cover;
  background-position: center;
  transform: scale(1);
}
.location_card .card_inner .card_image .overlay {
  background-color: var(--color, black);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  padding-left: 15px;
  padding-right: 0;
  font-weight: bold;
  font-size: 20px;
}
.location_card .card_inner .card_image .overlay::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 100%;
  border-top: 40px solid var(--color, black);
  border-right: 40px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
}
.location_card .card_inner .card_image .overlay-bottom {
  background-color: var(--color, black);
  color: white;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  padding-left: 0;
  padding-right: 15px;
}
.location_card .card_inner .card_image .overlay-bottom::after {
  content: "";
  position: absolute;
  left: -34px;
  bottom: 0px;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 34px solid var(--color, black);
  border-left: 34px solid transparent;
}
.location_card .card_inner .content {
  background-color: var(--glass-white);
  width: 100%;
  height: calc(var(--height) / 2);
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: end;
  display: flex;
  flex-direction: column;
  transform: translateY(0px);
}
.location_card .card_inner .content .title {
  height: 100%;
}
.location_card .card_inner .content .title h1 {
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: black;
}
.location_card .card_inner .content .title p {
  margin-bottom: 10px;
}
.location_card .card_inner .content .link {
  margin-top: 10px;
}
.location_card .card_inner .content p {
  font-size: 0.92rem;
  line-height: 1.3rem;
  margin-bottom: 0px;
}
.location_card.mainFeature .content p, .location_card.subFeature .content p {
  font-size: initial;
  line-height: initial;
}
@media screen and (max-width: 840px) {
  .location_card:hover {
    scale: 1.045;
  }
  .location_card .card_inner {
    width: 100%;
    height: auto;
    min-height: 100px;
  }
  .location_card .card_inner .card_image .img {
    width: 100%;
  }
  .location_card .card_inner .content {
    height: auto;
  }
  .location_card.mainFeature, .location_card.sharedFeature {
    max-width: calc(var(--width) + 40px);
    width: calc(100% - 40px);
    --imgHeight: 120px;
  }
  .location_card:not(.mainFeature):not(.sharedFeature) {
    width: 100%;
  }
  .location_card:not(.mainFeature):not(.sharedFeature) .card_inner {
    display: flex;
  }
  .location_card:not(.mainFeature):not(.sharedFeature) .card_inner .card_image {
    height: auto;
  }
  .location_card:not(.mainFeature):not(.sharedFeature) .card_inner .card_image .img {
    height: 100%;
  }
  .location_card:not(.mainFeature):not(.sharedFeature) .card_inner .content {
    width: 130%;
  }
  .location_card:not(.mainFeature):not(.sharedFeature) .card_inner .content .title h1 {
    font-size: 1.1rem;
  }
  .location_card:not(.mainFeature):not(.sharedFeature) .card_inner .content p {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.main-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
  filter: blur(5px) brightness(0.75);
}

.panel {
  background-color: var(--glass-white);
}

.btn-contact {
  border-radius: 50px;
  color: black;
  background: linear-gradient(to right, #22ff00 0%, #00ffff 51%, #ae00ff 100%);
  background-repeat: no-repeat;
  transition: all 0.3s var(--curve);
  background-size: 400% auto;
  background-position: -5px center;
  position: relative;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  border: var(--solid-border);
  filter: var(--solid-shadow);
}
.btn-contact.tiny {
  min-width: 200px;
  font-size: 1.2em;
}
.btn-contact.tiny svg {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}
.btn-contact:hover {
  background-position: calc(100% + 5px) center;
  color: white;
  border: 2px solid black;
}

.btn {
  border: var(--solid-border);
  filter: var(--solid-shadow);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body .main {
  flex: 1 0 auto;
}

footer {
  font-size: xx-small;
  margin-top: 30px;
  flex-shrink: 0;
  padding: 5px;
  color: black;
  text-align: center;
  margin-top: 0px;
  border-radius: 0;
}

body > footer {
  background-color: rgba(255, 255, 255, 0.1647058824);
}
