:root {
  --shadow: drop-shadow(10px 10px 5px #00000080);
  --card-shadow: drop-shadow(0 0 10px black);
  --text-shadow: 5px 5px 5px #00000080;
  --curve: cubic-bezier(0.39, 0.575, 0.565, 1);
  --glass-white: #ffffffd0;
  --glass-blur: blur(10px);
  --solid-shadow: drop-shadow(5px 5px 0px #00000080);
  --solid-border: 2px solid black;
}

* {
  scroll-margin-top: 100px;
  scrollbar-color: #cccccc #eeeeee;
}
* ::-webkit-scrollbar {
  width: 14px;
}
* ::-webkit-scrollbar-track {
  background: #eeeeee;
}
* ::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 20px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.navbar {
  padding: 8px;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
  background-color: rgba(0, 0, 0, 0.3215686275);
}
.navbar .navbar-brand svg {
  height: 42px;
}
@media screen and (max-width: 1000px) {
  .navbar .navbar-brand svg {
    width: 206px;
    height: 30px;
  }
}
.navbar svg, .navbar .nav-link {
  color: white;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}
.navbar .nav-link {
  font-size: medium;
  font-weight: bold;
}
.navbar .dropdown-menu {
  background-color: black;
}
.navbar .dropdown-menu .dropdown-item {
  backdrop-filter: blur(20px);
  color: white;
  padding: 8px 16px;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: white;
  color: black;
}
.navbar {
  background-color: white;
}
.navbar svg, .navbar .nav-link {
  color: black;
}
.navbar .dropdown-menu {
  background-color: white;
}
.navbar .dropdown-menu .dropdown-item {
  color: black;
}

.main-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
  filter: blur(5px) brightness(0.8);
}

.btn-contact {
  border-radius: 50px;
  background-color: white;
  border: none;
  transition: all 0.2s var(--curve);
  filter: var(--card-shadow);
  padding: 5px;
}
.btn-contact .inner {
  font-size: x-large;
  gap: 10px;
  color: black;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  padding: 0px;
  transition: all 0.2s var(--curve);
}
.btn-contact.tiny {
  min-width: 200px;
}
.btn-contact:hover {
  background-color: #161616;
}
.btn-contact:hover .inner {
  scale: 1.1;
  color: white;
  fill: white;
}

.btn {
  border: var(--solid-border);
  filter: var(--solid-shadow);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body .main {
  flex: 1 0 auto;
}

footer {
  font-size: 12px;
  margin-top: 30px;
  flex-shrink: 0;
  padding: 5px;
  color: black;
  text-align: center;
  margin-top: 0px;
  border-radius: 0;
}

body > footer {
  background-color: rgba(255, 255, 255, 0.1647058824);
}
