.main-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.main-background .fading {
  filter: none;
  transform: scale(1);
  opacity: 0;
  animation: fade 1s;
  animation-direction: normal;
  animation-timing-function: var(--curve);
  animation-fill-mode: forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-content {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}
.main-content .header {
  text-decoration: none;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 26px;
  gap: 2px;
}
.main-content .header h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5019607843);
}
.main-content .header svg {
  color: white;
  filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.8156862745));
  display: none;
  margin-bottom: 4px;
}
.main-content .header:hover svg {
  display: initial;
}
.main-content .group {
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .main-content .group {
    gap: 20px;
  }
}
