.main-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.main-background .fading {
  filter: none;
  transform: scale(1);
  opacity: 0;
  animation: fade 1s;
  animation-direction: normal;
  animation-timing-function: var(--curve);
  animation-fill-mode: forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-content {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}
.main-content .catagories {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.main-content .catagories .catagoryButton {
  height: 50px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s var(--curve);
  padding-left: 30px;
  padding-right: 30px;
  filter: var(--card-shadow);
}
.main-content .catagories .catagoryButton h1 {
  transition: all 0.2s var(--curve);
  font-size: large;
  color: black;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
.main-content .catagories .catagoryButton:hover h1 {
  scale: 1.1;
}
.main-content .catagories .catagoryButton.selected {
  background-color: #161616;
}
.main-content .catagories .catagoryButton.selected h1 {
  scale: 1.1;
  color: white;
}
@media screen and (max-width: 840px) {
  .main-content .catagories {
    gap: 10px;
  }
  .main-content .catagories .catagoryButton {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-content .catagories .catagoryButton h1 {
    font-size: medium;
  }
}
.main-content .header {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5019607843);
  text-align: center;
}
@media screen and (max-width: 600px) {
  .main-content .header .deco {
    display: none;
  }
}
.main-content .group {
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .main-content .group {
    gap: 20px;
  }
}
