.main .main-content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.main .main-content .panel {
  background-color: var(--glass-white);
  color: black;
  padding: 20px;
  max-width: 1000px;
  border-radius: 20px;
}
.main .main-content .panel p, .main .main-content .panel ul {
  text-align: justify;
  text-justify: inter-word;
}
.main .main-content .panel p:last-child, .main .main-content .panel ul:last-child {
  margin-bottom: 0px;
}
.main .main-content .panel ul {
  padding-left: 16px;
}
.main .main-content .panel h1, .main .main-content .panel h2 {
  margin: 0px;
  text-align: center;
}
.main .main-content .panel a {
  color: black;
}
.main .main-content .panel.full {
  width: 100%;
}
.main .main-content .panel, .main .main-content .floating-btn, .main .main-content .floating-img {
  transition: all 0.3s var(--curve), opacity 0.5s var(--curve) var(--delay), transform 0.5s var(--curve) var(--delay);
  filter: var(--shadow);
}
.main .main-content.intro .panel, .main .main-content.intro .floating-btn, .main .main-content.intro .floating-img {
  opacity: 0;
  transform: translateY(-50px);
}
.main .main-content .floating-img {
  border-radius: 20px;
}
