.main .main-background {
  filter: none;
}
.main .main-content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.main .main-content .panel {
  padding: 20px;
  max-width: 1000px;
  border-radius: 20px;
}
.main .main-content .panel p, .main .main-content .panel ul {
  text-align: justify;
  text-justify: inter-word;
}
.main .main-content .panel p:last-child, .main .main-content .panel ul:last-child {
  margin-bottom: 0px;
}
.main .main-content .panel ul {
  padding-left: 16px;
}
.main .main-content .panel h1, .main .main-content .panel h3 {
  margin: 0px;
  text-align: center;
}
.main .main-content .panel, .main .main-content .btn {
  transition: all 0.5s var(--curve);
  filter: var(--shadow);
}
.main .main-content.intro .panel, .main .main-content.intro .btn {
  transform: translateY(-50px);
  opacity: 0;
}
