<p>Townline presents a 45 storey tower that commands attention in vibrant West Coquitlam.  Bold architecture, modern interiors and resort inspired amentities - home is alive with design and lifestyle.  With the Skytrain station only a six minute walk away, and shops and services, restaurants and leisure hubs at your front door, living at Band puts you in the centre of this vibrant community.</p>
<p><b>Starting Prices from:</b></p>
<ul>
    <li>1 bed + 1 bath (with no parking) - Starting from $561,900</li>
    <li>1 bed + bath (with parking) - Starting at $615,900</li>
    <li>1 bed + 1 den + 1 bath - Starting at $661,900</li>
    <li>2 beds and 2 bath - Starting at $806,900</li>
    <li>3 beds with Lock Off Suite - Starting at $1,050,900</li>
</ul>
<p><b>Deposit Structure:</b></p>
<p>Canadian Resident - 20% on all homes</p>
<p><b>Additional Informaion:</b></p>
<ul>
    <li>Estimated completion spring 2026</li>
    <li>Strata Fee starting at approximately $0.49/sqft</li>
    <li>1 EV ready parking stall included with most homes except studios</li>
    <li>1 Storage locker at reduced price of $2,000</li>
    <li>Assignment fee reduced to $2,500 flat fee</li>
</ul>
<p>Limited Time Buyer Incentives of $2,000 to $8,000 </p>