<p>Burquitlam Park District is a masterplanned community centrally located on the North East corner of Clarke Road and Como Lake Avenue.</p>
<p>Burquitlam Park District reaches 40 storeys and comprises of 364 homes including studios, 1, 2 & 3 bedroom residences.</p>
<p>Conveniently located, Burquitlam Park District is steps away from Burquitlam Skytrain station, and close to Highway 1 and the Barnet Highway.</p>
<%- include('../picture', {img: 'card.webp'}) %>
<p><b>Why buy at Burquitlam Park District?</b></p>
<ul>
    <li>20,000 sqft of private amenity spaces</li>
    <li>Plenty of outdoor gathering spaces, gardens and parks</li>
    <li>Premium Bosch appliance package in kitchen</li>
    <li>Heating and cooling system</li>
</ul>
<p><b>Additional Information:</b></p>
<ul>
    <li>15% deposit only</li>
    <li>$500 assignment fee for a limited time</li>
    <li>1 EV rough-in parking included (except studios)</li>
    <li>1 storage locker included with all homes</li>
</ul>