<h4>Metrotown's Only True Boutique Tower</h4>
<p>With less than 5 homes per plate, every home comes with an oversized balcony and feels like a true corner.</p>
<h4>Luxurious, innovative, and diverse</h4>
<p><b>At a Glance</b></p>
<ul>
    <li>Located at Silver Avenue & Maywood Street</li>
    <li>24-storey mixed-use highrise</li>
    <li>91 condominiums</li>
    <li>13,000 sq ft of commercial space</li>
    <li>Near Central Park amenities</li>
    <li>700 metres from Metrotown SkyTrain Station</li>
    <li>10-minute walk to Metropolis at Metrotown shopping & entertainment</li>
    <li>4-minute bike ride to Bonsor Recreation Centre</li>
    <li>Less than 30 minutes to downtown Vancouver via SkyTrain</li>
</ul>