<p>Introducing Fraser Mills by Beedie Living!</p>
<%- include('../picture', {img: 'debut-brochure_Page_11_Image_0002.webp'}) %>
<p>Nestled on Coquitlam's only residential waterfront land, Fraser Mills will connect neighbours to the north, east and west, including Maillardville, Burnaby, New West and Port Coquitlam to the water. When complete, this 96-acre neighbourhood will be home to a collection of residences, restaurants, shops, extensive green space, plazas, and an aquatic and community centre.</p>
<%- include('../picture', {img: 'debut-brochure_Page_13_Image_0001.webp'}) %>
<p>There will be 5,500 new homes across 20 buildings in a mix of high-rise, low-rise condos and townhomes.</p>
<%- include('../picture', {img: 'debut-brochure_Page_13_Image_0002.webp'}) %>
<p>DEBUT will be the first release that that you can own in this master-planned community. It will consist of 1 to 3 bedroom condos and townhomes.</p>
<p>Why purchase at Fraser Mills?</p>
<ul>
    <li>There will be more than 16 acres of parks and recreation</li>
    <li>Onsite childcare and elementary school</li>
    <li>50,000sqft of aquatic and community centre</li>
    <li>A waterfront park designed as a destination</li>
    <li>A pedestrian only plaza</li>
    <li>There will be sports courts, waterpark and an off leash dog park</li>
</ul>