<p><b>LANDMARK DESIGN.</b> The architectural genesis of Elmwood is simple but significant.  An angular podium defines the retail plaza, accentuated by a screen of branchlike columns. Situated in the North East Corner of Clarke Road and Como Lake Avenue with 335 homes, Elmwood will be a signature building.</p>
<p><b>MODERN LIVING.</b>  Embracing mindful technology for modern living, Elmwood comes equipped with LatchOS; a full building operating system of software, products and services. Integrated into the building lobby, the Latch Intercom and Delivery Assistant ensures residents peace of mind knowing their virtual doorman will manage guests and deliveries.</p>
<p>Ask about the 3 Bedrooms with LOCK OFF SUITES.</p>
<p><b>Modern Amenities:</b></p>
<ul>
    <li>Easy access dog wash</li>
    <li>Bike repair station</li>
    <li>Fitness centre with cardio equipment and free weights</li>
    <li>Outdoor weight training & fitness zone</li>
    <li>Yoga studio with ballet bar and outdoor cool down terrace</li>
    <li>Central activity courtyard with putting green, ping pong tables, green spaces, and zen garden</li>
    <li>Flexible lounge and co-workspace complete with private meeting room, and kitchenette</li>
    <li>Screening room</li>
    <li>Exterior rooftop terrace</li>
</ul>
<p><b>Starting Prices:</b></p>
<ul>
    <li>Jr 1 bedroom - Starting $448,900</li>
    <li>1 bedroom - Starting $594,900</li>
    <li>2 bedroom - Starting $784,900</li>
</ul>
<p>Buyer's Incentives from $2,500 to $10,000.</p>
<p><b>Deposit Structure:</b></p>
<p>20% for Residents and 25% for Non-Residents</p>
<p><b>Additional Information:</b></p>
<ul>
    <li>Estimated completion winter 2026</li>
    <li>Strata Fee starting at approximately $0.56/sqft</li>
    <li>1 parking stall and 1 storage locker included with all homes (select lower floor Jr. 1 Bed Homes do not include parking.)</li>
    <li>$2500% assignment fee</li>
</ul>