<p>Eminence is situated in the beautiful, tranquil, iconic Knox Mountain of Kelowna.  Less than five minutes from downtown, Eminence offers a quiet, amenity-rich community bordering Kelowna's largest natural park area.  It will be situated between the two UBC campuses conveniene purposes.</p>
<p><b>Highlights of Eminence:</b></p>
<ol>
    <li>Kelowna's largest natural area park is directly accessible via the Eminence Link trailheads, and the Okanagan Rail Trail multi-purpose trail system is a short ride away.</li>
    <li>Embrace living in a recreation-centric community with a luxury resort-inspired Lodge, featuring an outdoor pool and hot tub, a fitness centre and Mountainside Lounge, and resident exclusive rooftop terraces.</li>
    <li>Have more space for your favourite four-legged friends, care of Eminence's fully enclosed Bark Park and Knox Mountain's endless network of trails.</li>
    <li>Live in a safe, prestigious, established neighbourhood amidst picturesque tree-lined streets and luxury estate homes. Decrease your carbon footprint with one parking stall EV ready.</li>
</ol>
<p>For some, Investment 101 can start here.  The best time to invest is when the market is low.  Consider a one bedroom that can be rented between $1500-$1900 according to Associated Property Management who bases their estimates on projected rental rates in the current market. Rates subject to change as well.</p>
<p>One bedroom starts as low as $319,900 and two bedrooms start at $594,900.</p>
<p>There are a variety of floor plans available, including 1 bedroom + den and 2 bedrooms + den.</p>