<p>Encore is the second tower in phase one of the master planned community Fraser Mills, Coquitlam's first and only waterfront community.</p>
<p>Fraser Mills is a huge, 96 acre new community on the banks of the Fraser River. It will encompass light industrial, office, commercial and residential to form a complete and sustainable community. This is truly an exciting opportunity!</p>
<p>Encore is a 32 storey concrete high-rise and a 5 storey podium with stacked concrete townhomes and City homes.</p>
<p><b>Building Amenities:</b></p>
<ul>
    <li>Double height Lobby with feature wall and seating</li>
    <li>3 elevators in main lobby</li>
    <li>2nd parkade lobby & elevator for townhome access</li>
    <li>Parcel and mail room</li>
    <li>Co-working Lounge with meeting room and individual pods</li>
    <li>Guest suite</li>
    <li>Fitness Centre; weight room, cardio and individual pods for yoga</li>
    <li>Entertainment Lounge: kitchen, seating, TV area, minibars, fireplace</li>
    <li>Games / billiards room</li>
    <li>Karaoke room</li>
    <li>Outdoor podium roof top terrace
        <ul>
            <li>Outdoor kitchen and BBQ</li>
            <li>Kids play area</li>
            <li>Fireside lounge</li>
            <li>Ping pong tables</li>
            <li>Outdoor seating areas</li>
            <li>Treed garden area</li>
        </ul>
    </li>
    <li>2/5/10 new home warranty</li>
</ul>
<p>Contact me for first access. Allocations have started.</p>