<p>Following the success of the first tower DEBUT, Beedie Living has launched their second tower called ENCORE in Coquitlam's master community.  Without a Presentation Centre (PC) being built, they are 50% sold.</p>
<p>What contributed to Beedie's success in this market where they do not even have a PC? Their buildings, like their values, have stood the test of time and have earned the trust of the community and the recognition of the industry. People trust the reputation of Beedie.</p>
<%- include('../picture', {img: 'Encore - Balcony Rendering.webp'}) %>
<p>Nestled on Coquitlam's only residential waterfront land, Fraser Mills will connect neighbours to the north, east and west, including Maillardville, Burnaby, New West and Port Coquitlam to the water. This amazing development will embrace "Green Living" and urban convenience for all walks of life.</p>
<p>When complete, this 96-acre neighbourhood will be home to a collection of residences, restaurants, shops, extensive green space, plazas, an 50,000 sqft Aquatic Community Centre.</p>
<p>There will be 5,500 new homes across 20 buildings in a mix of high-rise, low-rise condos and townhomes.</p>
<%- include('../picture', {img: 'Encore - Gym_crop_without people_HR.webp'}) %>
<p><b>Why purchase at Fraser Mills?</b></p>
<ul>
    <li>Community and sustainability all in one area</li>
    <li>There will be more than 16 acres of parks and recreation</li>
    <li>Onsite childcare and elementary school</li>
    <li>50,000 sqft of an Aquatic Community Centre</li>
    <li>A waterfront park designed as a destination</li>
    <li>A pedestrian only plaza</li>
    <li>There will be sports courts, waterpark and an off leash dog park</li>
</ul>
<p><b>Starting Prices:</b></p>
<ul>
    <li>Junior 1 bed from high $400K (No parking)</li>
    <li>1 bed from high $500K</li>
    <li>1 plus Den from mid $600K</li>
    <li>2 beds from mid $800K</li>
    <li>2 plus den from low $900k</li>
</ul>
<p>To be one of the First Clients to visit the "NEW" Presentation Centre, contact me. Priority preview starts on January 22, 2024</p>