<p>Introducing Ethos, the latest Metrotown Collection tower from Anthem Properties, coming soon to the Marlborough neighbourhood.  Nestled in the Heart of Metrotown in Burnaby with convenient shopping and entertainment connections such as Bonsor Community Centre and Metropolis at Metrotown.  It is also steps away from Marlborough Elementary which has an English and French immersion program.</p>
<p>This 34-storey residential highrise encompasses 218 studios to 3-bed homes ranging from  398 - 1,021 sq ft of living space. Floorplans range from studios to 3-bedroom + den suites. Over 15,000 sq ft of indoor and outdoor amenities are expected to include a communal kitchen, multiple multi-purpose rooms, a sun garden, and an outdoor seating area.</p>
<%- include('../picture', {img: 'Ethos_Interior_Living_Light.webp'}) %>
<p>Parking for 294 vehicles will be provided in an underground parkade. Transportation alternatives are to be offered in the form of 630 bicycle storage stalls and transit pass subsidies. It is about a 600m walking distance from Royal Oak Skytrain. How convenient is that?</p>
<p><b>Starting prices:</b></p>
<ul>
    <li>Studios - low $500k</li>
    <li>Jr. 1-Bed - high $500k</li>
    <li>1-Bed & 1+Den - high $600k</li>
    <li>2+Den - mid $900k</li>
    <li>3-Bed - mid $1.1m</li>
</ul>
<p>With 100 homes priced under $730,000 and only 218 units, this project will sell fast!!  Don't miss out on this opportunity.  Contact me to book your VIP Preview appointment at 604-779-7673 or email me at <a href="mailto:kittychosutton@gmail.com">kittychosutton@gmail.com</a>.</p>