<p>Hamilton is Mosaic's third community up at SFU and is made up of 115 concrete apartments in the heart of UniverCity. White brick and contrasting black details make a statement. It also boasts some of the best views of the Burrard Inlet while living on a world-class university campus.</p>
<p><b>Why buy at Hamilton?</b></p>
<ul>
    <li>Own at Hamilton for 20-40% less than the rest of Burnaby</li>
    <li>One of the last opportunities to own concrete at SFU</li>
    <li>115 classic white-brick apartments</li>
    <li>Incredible views of the Burrard Inlet</li>
    <li>Over 60 1-bedroom homes</li>
    <li>Historically low vacancy rates, with consistent high rents</li>
</ul>
<p><b>Some amenities include:</b></p>
<ul>
    <li>Rooftop deck with view of the Burrard Inlet</li>
    <li>Large decks and patios (on select homes)</li>
    <li>Children's playground</li>
    <li>One parking stall is included in every home.</li>
</ul>
<p>Estimated completion of these homes will be Spring/Summer 2024.</p>