<p>Coming Soon to Burnaby is ğˆğœğ¨ğ§ ğ›ğ² ğ‹ğğğ¢ğ§ğ ğ¡ğšğ¦ ğŒğœğ€ğ¥ğ¥ğ¢ğ¬ğ­ğğ«.  It is located in Burnaby's 60-acre Southgate City Master-Planned Community.  It is a statement of fine living with serene views of 5-acre natural parks, convenient school access, easy transit connections + over 350,000 sq.ft. of next-door shops and services.</p>
<%- include('../picture', {img: 'icon-brochure_Page_06_Image_0001.webp'}) %>
<p>ğˆğœğ¨ğ§ delivers 46 storeys of luxurious homes with premium kitchens, integrated tech & security systems, impeccable crafted finishes & additional upgrades such as elegant hardwood flooring.</p>
<p>1-Bed Homes from 613 sq.ft. starts from $729,900. 2-Bed + Den Homes from 861 sq.ft. starts from $895,900  and 3-Bed Homes from 1097 sq.ft. starts from $1,199,900.</p>
<%- include('../picture', {img: 'icon-brochure_Page_04_Image_0002.webp'}) %>
<p>You will have access over 9,000 sq.ft. of indoor and outdoor amenities, including a Social Club with fireside lounge, a sprawling outdoor terrace, a fully equipped fitness center, as well as dedicated EV-parking and bicycle storage.</p>