<p>Experience a harmonious blend of effortless connectivity & tranquil repose in an elegant collection of 1-3 bed residences with breathtaking mountain views from Burquitlam.</p>
<ul>
    <li>1 EV-ready parking stall included for all homes</li>
    <li>1 storage locker with all 2-bed & 3-bed homes</li>
    <li>Deposit as low as 15%</li>
    <li>Reduced assignment fee at $500</li>
</ul>
<p>Discover an urban haven with a wealth of next-door natural parks & trails, and just a stone's throw from shopping & transit to Port Moody, Metrotown, and Downtown.</p>
<ul>
    <li>5-min walk to Skytrain & Burquitlam Plaza</li>
    <li>6-min drive to SFU</li>
</ul>
<h4>Amenity Highlights</h4>
<p><b>Rooftop signature sky spa with:</b></p>
<ul>
    <li>Outdoor hot and cold plunge pools</li>
    <li>Outdoor experiential rainfall shower</li>
    <li>Outdoor relaxation area and garden lounge</li>
    <li>Steam room</li>
    <li>Sauna with windows</li>
    <li>Spa-inspired showers and changerooms</li>
</ul>
<p><b>Spacious social lounge with:</b></p>
<ul>
    <li>Fully equipped kitchen</li>
    <li>Entertaining island</li>
    <li>High top window bar and seating</li>
    <li>Seated dining area</li>
    <li>Dedicated entertainment corner</li>
    <li>Multi-purpose games table</li>
    <li>Secondary entertainment area</li>
</ul>
<p><b>Sky terrace with:</b></p>
<ul>
    <li>Intimate fire pit with plush seating</li>
    <li>Social harvest table</li>
    <li>Custom built BBQ station</li>
    <li>Outdoor pizza oven</li>
</ul>