<p>O2 is a first-of-its kind living experience: 285 Studio to Three Bedroom Homes where health is at the fore front and wellness is integrated into every aspect of the design.</p>
<p>The sophisticated in-home wellness features at O2—personal steam showers, waterfiltration, and air purification—measurably improve your overall health.  Located in the heart of Metrotown, O2 is a confident step in the evolution of this neighbourhood.</p>
<p><b>Some amenities include:</b></p>
<ul>
    <li>Over 7,200 square feet of exceptional indoor and outdoor amenity space to support your mental and physical well being.</li>
    <li>An expansive, bright fitness studio features premium exercise equipment, floor-to-ceiling windows and access to a 500 sq ft open-air patio.</li>
    <li>A soothing spa to detoxify and unwind. Steps from the Yoga Room, this infrared sauna features a Himalayan salt wall, cedar-clad surfaces and sleek glass door.</li>
    <li>A rooftop terrace features wooden benches, urban agriculture and stunning views of the Lower Mainland.</li>
</ul>