<p>Following the success of Central Park House, Bosa Properties brings Solhouse 6035 to the Central Park East neighbourhood in Metrotown. This 50-storey residential tower offers views of Central Park, Downtown Vancouver, and the North Shore.</p>
<%- include('../picture', {img: 'Solhouse Outdoor Amenity Terrace.webp'}) %>
<p>The development consists of 411 strata homes and 68 rental apartments. With interiors from 446 - 2,035 sq ft, condominium floor plans range from studios to 3-bedroom homes, including exclusive Estate and Penthouse collections.</p>
<%- include('../picture', {img: 'Solhouse Balcony 3.webp'}) %>
<p>Solhouse 6035 also boasts over 25,000 sq ft of indoor and outdoor amenities. These include a spa, gym, lounges, a landscaped roof terrace, guest suites, and a co-working space, catering to a wide range of resident needs.</p>
<%- include('../picture', {img: 'Solhouse Relaxation Space.webp'}) %>
<p>Why buy at Solhouse?</p>
<ul>
    <li>Amazing location next to Central Park and steps away from  Patterson Skytrain</li>
    <li>Floor to ceiling windows and enclosed glass balconies</li>
    <li>Air conditioning</li>
    <li>ERV - Energy Recovery Ventilator</li>
</ul>