<p>The long awaiting Anthem is back in the Brentwood area since building Tandem 15 years ago. Anthem's new project is called South Yards, a highly anticipated master-planned community featuring 2,500 homes and 60,000 square feet of vibrant commercial and retail space, surrounding a one-acre urban park.</p>
<p>Located just one block south of the Skytrain, experience downtown Brentwood like never before.</p>
<p>South Yards will be a master plan community spaced out in 4 phases.  Its main attraction being the 1.4-acre park in the center of the 5 towers will differentiate South Yards.  Living in South Yards will allow you to have the convenience of city living while having the accessibility to outdoor serenity and a connection to nature. There will be 2 towers in Phase 1. Currently, Tower A is being featured with 36 stories and 363 homes, starting at low $500,000.</p>
<p>The following are the amenities included:</p>
<ul>
    <li>Gym</li>
    <li>Yoga studio</li>
    <li>Indoor dining pavilion & kitchen</li>
    <li>Badminton & bocce court</li>
    <li>Karaoke room</li>
    <li>Games room & lounge</li>
    <li>Outdoor playground, tennis court, social lounge</li>
    <li>Co-work space</li>
</ul>
<p>Estimated completion of these homes will be spring 2027. Included is one parking stall EV ready and one locker.</p>
<p>Please email me for information on floor plates, price list and feature sheet as this information will not be available via social media until after the new year.</p>