<p>Introducing Richmond's Most-Anticipated Masterplanned Community of the Year: Talistar by Polygon 🏙</p>
<%- include('../picture',{img: 'card.webp'}) %>
<p>Designed by IBI Group, the inaugural building at Talistar consists of 161 one and two bedroom residences ideally situated in Richmond city centre. Green parks, daily conveniences, shopping centres and the Canada Line network… Everything is just a short stroll away.</p>
<%- include('../picture',{img: 'talistar-brochure_Page_03_Image_0004.webp'}) %>
<p>Crafted with the philosophy of thoughtful living, the homes showcase a long list of designer details including sleek kitchen cabinets, spa-inspired ensuites and dedicated work-from-home spaces. As the first TELUS Residential Smart Building in Richmond, each residence also comes complete with future-friendly features such as digital suite door locks, in-home control panels, smart parcel lockers in the lobby and more.</p>