<p>Previews are now happening at Town & Centre by Mosaic Homes at Coquitlam Town Centre! Please contact me ASAP to be one of the first to preview this exciting new project.</p>
<p>Phase One at Town and Centre is a 30-Storey highrise at Westwood Street and Anson in Port Coquitlam.</p>
<p>Town and Centre is centrally located by Coquitlam Town Centre and within walking distance to transit, two Skytrain Stations and the West Coast Express, Coquitlam Centre, Douglas College, Lafarge Lake and Town Centre Park, shops, restaurants and more.</p>
<%- include('../picture', {img: 'Town&Centre_CommercialSpaces.webp'}) %>
<p><b>Here's a few reasons why you'll love Town & Centre:</b></p>
<ul>
    <li>First Opportunity in Six Years in Coquitlam Town Centre</li>
    <li>The most affordable two bedroom two bathroom home available today</li>
    <li>A solid builder and amazing reputation with over 24 years building in BC</li>
</ul>
<p><b>Starting Prices (starting from the 12th floor):</b></p>
<ul>
    <li>Studio - S plan - 398 to 484 sqft - Starting in the mid $400,000s</li>
    <li>1 Bed - D plan - 527 sqft - Starting in the high $500,000s</li>
    <li>2 Beds - H plan - 635 to 678 sqft - Starting in the high $600,000s</li>
    <li>2 Beds Corner - B plan - 797-893 sqft - Starting in the low $800,000s</li>
    <li>3 Beds - E plan - 1076 sqft - Starting at $1.05 mil (24th floor and up)</li>
</ul>
<p><b>Additional Information:</b></p>
<ul>
    <li>Estimated completion is late 2027 to early 2028. </li>
    <li>Early purchaser incentives include: $500 assignment fee and 1 parking stall and 1 bike locker.</li>
    <li>Deposit structure: 20% for studios and 1 beds, 15% for 2 and 3 beds (5% now, 5% in 6 months, 5% on Jan 15, 2025, 5% in 36 months)</li>
</ul>