<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header'); %>
    <link rel="stylesheet" href="/css/sub_page.css">
    <script src="/js/sub_page.js"></script>
    <title>First Time Home Buyers - Kitty Cho | Personal Real Estate Corporation</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../../partials/navbar'); %>

    <!-- Main Content -->
    <div class="main">
        <%- include('../../partials/background', {background: featured}); %>
        <div class="main-content intro">
            <div class="panel" style="text-align: center;">
                <h1><b>First Time Home Buyers</b></h1>
                <h3>Six Steps to Buying a Home</h3>
            </div>
            <div class="panel full">
                <p style="text-align: left"><b>STEP 1: GET PRE-APPROVED FOR A MORTGAGE</b></p>
                <p>Sit down with your mortgage broker and find out exactly what you can afford.</p>
            </div>
            <div class="panel full">
                <p style="text-align: left"><b>STEP 2: FIND A REAL ESTATE AGENT</b></p>
                <p>In a busy real estate market, having a knowledgeable real estate agent working for you is the most powerful tool you have in closing the deal on the house of your dreams. A new listing takes two to three days to become available to the general public. But realtors have access to this information sooner.</p>
                <p>After you've selected a real estate agent, sit down with your agent to outline what you're looking for in a home. This way, your chances of fulfilling your needs and wants will be higher.</p>
            </div>
            <div class="panel full">
                <p style="text-align: left"><b>STEP 3: START LOOKING FOR HOMES</b></p>
                <p>When you begin looking for homes, it's a good idea to make notes on the properties you've visited. Make a list of both the positive and negative attributes of each home so you can keep track of homes you might want to re-visit. And here's a helpful hint, slip on shoes make an afternoon of house shopping an easier one.</p>
            </div>
            <div class="panel full">
                <p style="text-align: left"><b>STEP 4: PUT AN OFFER ON A HOME</b></p>
                <p>Once you find a suitable home, the next step is to put an offer on the home. Your realtor will likely gather a list of recent sales of comparable homes to help you calculate an appropriate initial offer. You'll also have to select a completion date that works for you. The completion day is the day you officially become the proud owner of your new home.</p>
                <p>Once your offer is accepted and financing is in order, book an appointment with a home inspector to get a proper inspection. If subjects are included in your contract (i.e. subject to financing, inspection, title search, etc.), once they are removed, your contract becomes firm and binding. Failing to fulfill your end of the contract will result in the loss of your deposit and the chance of being sued.</p>
            </div>
            <div class="panel full">
                <p style="text-align: left"><b>STEP 5: GET PREPARED TO CLOSE THE DEAL</b></p>
                <p>It's crucial to have your down payment available before the completion date. If you plan to use the first-time Home Buyer's Program, start the paper work at least three weeks before completion to ensure you have funds in the bank and ready to go when you need it.</p>
                <p>Also be sure to talk to your general insurance agent to get your home insurance in place before completion. You've got to protect your assets!</p>
                <p>You'll also want to complete a change of address form from the post office. Call your phone company, cable company, Visa and other important companies you do business with to make sure they know that you will be moving.</p>
                <p>Lastly, call your lawyer or notary to set a date to sign all documents. Book an appointment two to three days before completion to give yourself enough time to sign your documents in time.</p>
            </div>
            <div class="panel full">
                <p style="text-align: left"><b>STEP 6: DO A FINAL REVIEW</b></p>
                <p>When it comes around to the possession date (the day you finally receive keys to your home), ask your realtor to meet you at the property for a final review. This way, you can be sure that all item that were written into the contract are on the premises.</p>
            </div>
            <div class="panel" style="text-align: center;">
                <h3>Congratulations,<br>You're A Home Owner!</h3>
            </div>
        </div>
    </div>
</body>