<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header'); %>
    <link rel="stylesheet" href="/css/sub_page.css">
    <script src="/js/sub_page.js"></script>
    <title>Cost in Buying a Home - Kitty Cho | Personal Real Estate Corporation</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../../partials/navbar'); %>

    <!-- Main Content -->
    <div class="main">
        <%- include('../../partials/background', {background: featured}); %>
        <div class="main-content intro">
            <div class="panel">
                <h1><b>Cost in Buying a Home</b></h1>
            </div>
            <div class="panel full">
                <p>Many first-time home buyers are surprised to discover all of the costs involved in purchasing a home. If you're expecting to buy a home in the near future, take a look at some of the expenses you'll likely incur when you finally take the plunge:</p>
                <p>With mortgage loan insurance from CMHC, you can own your own home sooner - with a down payment of as little as 5%.</p>
                <p>Smaller down payment. Lower interest rate (comparable to putting 25% down). Build equity sooner.</p>
                <p>Learn about buying your first home with mortgage loan insurance from Canada Mortgage and Housing Corporation (CMHC). As Canada's national housing agency, we've been helping improve the quality of life for all Canadians for 60 years. Put that level of trust and experience to work for you. Ask your Lender. Choose CMHC.</p>
            </div>
            <div class="panel full">
                <h3>Initial costs</h3>
                <ul>
                    <li>Down payment (Up to 100% financing is available)</li>
                    <li>Property transfer tax - 1% on the first $200,000 and 2% on the balance</li>
                    <li>Lawyer or notary fees - expect to pay from $750 - $1,000 on average plus GST</li>
                    <li>CMHC fees - please review the mortgage section for more details</li>
                    <li>Home inspection - on average, anywhere from $275 - $600</li>
                    <li>Mortgage application - if applicable</li>
                    <li>Survey - for bank purposes, approximately $300 - $400</li>
                    <li>Appraisal fees - approximately $200 - $400</li>
                    <li>GST - if applicable</li>
                    <li>Moving expenses</li>
                </ul>
            </div>
            <div class="panel full">
                <h3>Monthly payments</h3>
                <ul>
                    <li>Mortgage payment</li>
                    <li>Strata fees, if applicable</li>
                    <li>Hydro and Gas</li>
                </ul>
            </div>
            <div class="panel full">
                <h3>Yearly expenses</h3>
                <ul>
                    <li>Property taxes</li>
                    <li>Home insurance</li>
                </ul>
            </div>
            <div class="panel">
                <h2>A Break Down Of The Costs</h2>
            </div>
            <div class="panel full">
                <h3>Down payment</h3>
                <p>The larger the down payment, the less you will have to pay back in the long run. A larger down payment means a smaller mortgage which in turn, will result in lower interest payments. Over time, this will significantly reduce the cost of borrowing. For conventional mortgages, usually a down payment of 25% or more of the sale price is required. Zero percent down is now permissible through CMHC.</p>
            </div>
            <div class="panel full">
                <h3>Property purchase tax</h3>
                <p>The provincial government imposes a one-time property purchase tax which must be paid before any property can be legally transferred to a new owner. The tax is 1% on the first $200,000 of the sale price and 2% on the balance of the sale price. However, there are exemptions available, one of which is the first time home buyer's exemption. First time buyers* eligible for this exemption must meet ALL of the following criteria:</p>
                <ul>
                    <li>The mortgage term must be at least one year - If the term is less than a year, you may apply for a rebate after you've lived in the residence for 12 months.</li>
                    <li>Mortgage financing must be 70% or greater of the purchase price - The maximum down payment is 30%. Mortgage financing cannot be from family members.</li>
                    <li>Purchasers must be Canadian citizens or permanent residents - as determined by Immigration Canada. Applicants must have resided in BC for a period of at least one year immediately prior to the application or filed two income tax returns as a BC resident within the last six years.</li>
                    <li>Maximum purchase price - The maximum purchase price is $275,000 for the Capital Regional District, Greater Vancouver & Central Fraser Valley and $225,000 for all other areas in BC. (For purchases on or after February 19, 2003, a property with a fair market value of up to $25,000 more than the maximum purchase price limit will be eligible for a proportionate amount of the exemption. All other guidelines apply.)</li>
                    <li>Property must be owner occupied - Rentals or investment properties do not qualify.</li>
                    <li>Time constraints - Purchasers must begin occupancy within 92 days and reside there for a minimum of one year.</li>
                    <li>Maximum principal repayment during the first year - To obtain the full amount of the exemption, the mortgage cannot be reduced by more than the greater of:</li>
                    <li>$11,000 for Greater Vancouver & Central Fraser Valley</li>
                    <li>$9,000 for all other areas of BC</li>
                </ul>
                <p>Note: the maximum limits include all regular and lump-sum principal payments.<br>* First time home buyer, as defined for the purpose of the Property Tax Exemption is “a person who has never, at any time, held a registered interest in a principal residence anywhere in the world (a principal residence is defined as the usual place where an individual resides) and a person who has not previously obtained a first time home buyer's exemption or refund.”*</p>
            </div>
            <div class="panel full">
                <h3>Lawyer or notary fee</h3>
                <p>Fees vary so be sure to shop around. Fees for a transaction usually range from $750 - $1,000.</p>
            </div>
            <div class="panel full">
                <h3>Inspection fee</h3>
                <p>It is highly recommended to have a proper inspection performed on the property by a professional inspector. Doing so will reduce your chances of unexpected problems in the future. And remember to ask for a written report if your inspector does not provide one.</p>
            </div>
            <div class="panel full">
                <h3>Mortgage application fee</h3>
                <p>Some financial institutions will charge a mortgage application fee for processing your application.</p>
            </div>
            <div class="panel full">
                <h3>Appraisal fee</h3>
                <p>Some financial institutions will cover the appraisal fee so be sure to ask. If you have to pay for this fee yourself, you can expect to pay between $200 - $400.</p>
            </div>
            <div class="panel full">
                <h3>Property insurance</h3>
                <p>All homes must have adequate insurance coverage against fire, other risks or loss, theft and liability before the financial institution will lend you money. These rates vary depending on coverage options so speak to your general insurance specialist for more details.</p>
            </div>
            <div class="panel full">
                <h3>Mortgage payments</h3>
                <p>Your mortgage payments are calculated based on the amortization period, interest rates and amount of the loan. Larger payment amounts mean a shorter amortization period and usually a lower interest rate. Of course, it's important to factor in your regular monthly expenses to ensure that you don't stretch yourself too thin.</p>
            </div>
            <div class="panel full">
                <h3>Property taxes and school taxes</h3>
                <p>The monthly mortgage payments are not the only periodic payments you will have to make. Property taxes and other taxes such as school taxes, due once a year, should also be taken into account in your budget. The amount of tax you will have to pay will depend on the assessed value of your property.</p>
            </div>
            <div class="panel full">
                <h3>Utilities and maintenance</h3>
                <p>Other monthly fees may include utilities and maintenance fees, if you're buying a strata property (i.e. townhouse, apartment, condo). Again, these fees vary depending on your usage and size of property.</p>
            </div>
            <div class="panel full">
                <h3>Other fees</h3>
                <p>Renovations may be something you'd like to do in the future. If you plan to stay in your home for the long-term, you may want to update your property so make room in your budget for these occasional expenses.</p>
            </div>
        </div>
    </div>
</body>