<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header'); %>
    <link rel="stylesheet" href="/css/sub_page.css">
    <link rel="stylesheet" href="/css/calculator.css">
    <script defer src="/js/sub_page.js"></script>
    <script defer src="/js/calculator.js"></script>
    <title>Mortgage Payment Calculator - Kitty Cho | PREC</title>
    <meta name="description" content="Calculate your mortgage payments with ease">
    <meta property="og:title" content="Mortgage Payment Calculator"/>
    <meta property="og:description" content="Calculate your mortgage payments with ease"/>
    <meta property="og:url" content="https://kittycho.ca/mortgage-payment-calculator/">
    <meta property="og:image" content="https://kittycho.ca/images/common/logoBig.webp"/>
</head>
<body>
    <!-- Navbar -->
    <%- include('../../partials/navbar'); %>

    <!-- Main Content -->
    <div class="main">
        <%- include('../../partials/background', {background: featured}); %>
        <div class="main-content intro">
            <div class="panel">
                <h1><b>Mortgage Payment Calculator</b></h1>
            </div>
            <div class="d-inline-flex flex-wrap justify-content-center" style="max-width: 1000px; width: 100%; gap: 20px">
                <form class="panel" style="max-width: 500px;">
                    <div class="form-group">
                        <label for="total">House Price:</label>
                        <input required type="number" step="any" min="0" class="form-control" id="house" placeholder="$">
                    </div>
                    <div class="form-group">
                        <label for="down">Down Payment:</label>
                        <input required type="number" step="any" min="0" class="form-control" id="downpayment" placeholder="$">
                    </div>
                    <div class="form-group">
                        <label for="interest">Interest Rate:</label>
                        <input required type="number" step="any" min="0" max="100" class="form-control" id="interest" placeholder="%">
                    </div>
                    <div class="form-group">
                        <label for="amortization">Mortgage Term:</label>
                        <input required type="number" step="any" min="0" class="form-control" id="term" placeholder="Years">
                    </div>

                    <button type="submit" class="btn btn-primary" style="filter: none">Calculate</button>
                </form>

                <div class="d-inline-flex flex-column align-items-center" style="max-width: 400px">
                    <div class="panel full" style="order: 2">
                        <h4>Get a Pre-Qualified Mortgage!</h4>
                        <p>Speaking to a mortgage broker or a mortgage specialist before you buy a presale or before you shop for a home is necessary to give you a clear idea of what you can and cannot afford.</p>
                    </div>
                    <div class="panel full hidden" id="results">
                        <h3>Results:</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../../partials/footer'); %>
</body>
</html>