<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header'); %>
    <link rel="stylesheet" href="/css/sub_page.css">
    <link rel="stylesheet" href="/css/calculator.css">
    <title>Mortgage Payment Calculator - Kitty Cho | Personal Real Estate Corporation</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../../partials/navbar'); %>

    <!-- Main Content -->
    <div class="main">
        <%- include('../../partials/background', {background: featured}); %>
        <div class="main-content">
            <div class="panel">
                <h1><b>Mortgage Payment Calculator</b></h1>
            </div>
            <div class="d-inline-flex flex-wrap" style="max-width: 1000px; width: 100%; gap: 20px">
                <form class="panel" style="max-width: 500px;">
                    <div class="form-group">
                        <label for="total">Total Amount:</label>
                        <input type="text" class="form-control" id="total" placeholder="Total Amount:">
                    </div>
                    <div class="form-group">
                        <label for="down">Down Payment:</label>
                        <input type="text" class="form-control" id="down" placeholder="Down Payment:">
                    </div>
                    <div class="form-group">
                        <label for="interest">Interest Rate:</label>
                        <input type="text" class="form-control" id="interest" placeholder="Interest Rate:">
                    </div>
                    <div class="form-group">
                        <label for="amortization">Amortization Period:</label>
                        <input type="text" class="form-control" id="amortization" placeholder="Amortization Period:">
                    </div>
                    <button type="submit" class="btn btn-primary" style="filter: none">Submit</button>
                </form>

                <div style="max-width: 400px">
                    <div class="panel" style="margin-left: auto; margin-right: auto; margin-bottom: auto">
                        <h4>Get a Pre-Qualified Mortgage!</h4>
                        <p>Speaking to a mortgage broker or a mortgage specialist before you buy a presale or before you shop for a home is necessary to give you a clear idea of what you can and cannot afford.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>