<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar'); %>

    <!-- Main -->
    <main class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Kitty Cho | Personal Real Estate Corporation</h1>
            </div>
        </div>
    </main>
</body>
</html>