<p>With only 369 homes, Tower Six is our rarest and most exclusive home offering to date.</p>
<p>Its signature cascading terraces will offer front row seats to the best of the West Coast - snow-capped mountain ranges, sparkling oceans and the signature downtown Skyline. The tower's dramatic architecture will create a seamless transition from the urban energy of The Amazing Brentwood to the serenity of the surrounding neighbourhood. Its rare design will celebrate the rarity of its location - on the site, in the community and across the region.</p>
<p><b>Starting Prices:</b></p>
<ul>
    <li>1 bedroom - Starting High $600,000</li>
    <li>2 bedroom - Starting Mid $800,000</li>
    <li>3 bedroom - Starting High $1.1M</li>
</ul>
<p><b>Deposit Structure:</b></p>
<ul>
    <li>20% for Residents and 25% for Non-Residents</li>
</ul>
<p><b>Additonal Information:</b></p>
<ul>
    <li>Estimated completion: Late 2028</li>
    <li>Strata Fee starting at approximately $0.63/sqft</li>
    <li>1 parking stall included with all homes (except A plans on 20th floor and below)</li>
    <li>1% assignment fee</li>
</ul>