<p>Georgetown 2 is the second phase of Georgetown, A vibrant master planned community by Anthem located in the heart of Surrey City Centre. Rising 31 storeys, Georgetown 2 is a collection of 355 studios to two bedroom homes with approximately 18,000 sq ft of curated indoor and outdoor amenity spaces.</p>
<p>Georgetown 2 is part of a larger 14.4 acre master-lplanned community which includes more than 126,000 sqft of office, retail and restaurant space, a dynamic public plaza, bike friendly streets and green spaces.</p>
<p>
<b>Starting Prices from floors 21-31:</b><br>
Studio - Starting in the low $400,000s<br>
1 bed - Starting in the high $500,000s<br>
1 bed and den - Starting in the low $600,000s<br>
2 beds - Starting in the low $700,000s<br>
</p>
<p>
<b>Deposit Structure:</b><br>
Floors 10-20 - 20% for studios, 1 bed & 1 bed and dens; 15% for 2 beds<br>
Floors 21-31 - 15% on all homes<br>
</p>
<p>
<b>Additional Information:</b><br>
Estimated completion Early 2026<br>
Strata Fee starting at approximately $0.60/sqft<br>
1 EV ready parking stall included with all homes except studios<br>
1 Storage locker included with all homes<br>
</p>